@font-face {
  font-family: 'neue_montreal';
  src: url('/public/fonts/Neue-montreal/neuemontreal-regular.woff2') format('woff2'),
       url('/public/fonts/Neue-montreal/neuemontreal-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'neue_montreal';
  src: url('/public/fonts/Neue-montreal/neuemontreal-bold.woff2') format('woff2'),
       url('/public/fonts/Neue-montreal/neuemontreal-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}