:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-focus: royalblue;

  --ease: cubic-bezier(1, 0, 0, 1);
  --ease-out: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-in: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --easeOutQuart: cubic-bezier(0.25, 1, 0.5, 1);
  --easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);

  --control-size-min: 48px;
}
