@use "../../app/mixins/queries" as *;

.Section {
  width: 100%;
  padding: 80px 0 80px;
  overflow: hidden;

  @include mediaTablet {
    padding: 100px 0 100px;
  }

  @include mediaVerticalTablet {
    padding: 130px 0 130px;
  }
}
