@forward "./queries.scss";

@mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// Put your own styles here
@mixin button {
  padding: 16px 32px;
  color: var(--color-white);
  background-color: var(--color-black);
  border: 3px solid var(--color-black);
  border-radius: 100px;
  transition-duration: 0.5;
  transition-timing-function: var(--easeOutExpo);
  transition-property: opacity;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }

  &:focus-visible {
    border-color: var(--color-focus);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.2;
  }
}

// Put your own styles here
@mixin link {
  display: inline-block;
  color: var(--color-black);
  transition-duration: 0.5;
  transition-timing-function: var(--easeOutExpo);
  transition-property: opacity;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }

  &:focus-visible {
    border-color: var(--color-focus);
  }
}
