$phonePortrait: 375px;
$phoneLandscape: 415px;
$tabletPortrait: 768px;
$tabletLandscape: 1280px;
$desktop: 1440px;

@mixin mediaPhone {
  @media (min-width: $phonePortrait) {
    @content;
  }
}

@mixin mediaVerticalPhone {
  @media (min-width: $phoneLandscape) {
    @content;
  }
}

@mixin mediaTablet {
  @media (min-width: $tabletPortrait) {
    @content;
  }
}

@mixin mediaVerticalTablet {
  @media (min-width: $tabletLandscape) {
    @content;
  }
}
