.Carousel {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.Carousel img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
